<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="store.permission.RECEIVE_CLOUD_MESSAGE"/>
    <uses-permission android:name="store.permission.BIND_STORE_SERVICE"/>

    <uses-permission android:name="rkiservice.permission.downloadkey" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/demo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/demo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoreSdkKotlin"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StoreSdkKotlin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".cloud.CloudMessageReceiver"
            android:exported="true"
            android:permission="store.permission.RECEIVE_CLOUD_MESSAGE">
            <intent-filter>
                <action android:name="com.newstore.action.CLOUD_MESSAGE_ARRIVED"/>

                <action android:name="com.newstore.action.CLOUD_MESSAGE_CLICKED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>